@charset="utf-8";
* {padding:0; margin:0;}
html,body { width: 100%; height: 100%;}

a{text-decoration: none;}
ul { list-style: none;}

.done { display: none;}
#hd { width: 100%; height: 70px; position: relative; background:#eded; background:#666666; }

.btnWrap { width: 40px; height: 40px; background-image: url(img/menu.png);background-size:cover; background-repeat: no-repeat;position: absolute; top: 15px; left: 15px;}
.btnWrap > label { display: block; width: 100%; height: 100%;}

/*왼쪽 서브메뉴*/
.left_menu { background:#2e3340; width: 100%; height: 100%; position: fixed; top: 0; z-index: 11; left: -100%; overflow: hidden; opacity: 0; transition: 0.5s;}
.left_menu > li > a { display: block; width: 100%; height: 50px; line-height: 50px; color: #fff; padding-left: 15px; border-bottom: 1px solid #fff;}
.btnWrap1{ display: block; width:100%; height: 70px; background: #4e5366; }
.btnWrap1 > label { width: 40px; height: 40px; display: block; background-image: url(img/close.png);position: absolute; top: 15px; left: 15px;}
#left_ck:checked ~ .left_menu { left: 0; opacity: 1;}
/*왼쪽서브메뉴 끝*/


/*가운데 로고 시작*/
.logo{ display: block;  width:200px; margin: 0 auto; text-align: center; height: 100%;color:#fff; font-weight: bold;font-size: 1.2em;  line-height: 3.5em; }
/*가운데로고 끝*/


.right_btn div:nth-of-type(1).btnWrap2 { width: 40px; height: 40px; background-image: url(img/search.png);background-size:cover; background-repeat: no-repeat; position: absolute; top: 15px; right: 15px;;}
.btnWrap2 > label { display: block; width: 100%; height: 100%;}

/*오른쪽 서브메뉴*/
.right_menu { background:#2e3340; width: 100%; height: 100%; position: fixed; top: 0; z-index: 11; right: -100%; overflow: hidden; opacity: 0; transition: 0.5s;}
.right_menu > li > a { display: block; width: 100%; height: 50px; line-height: 50px; color: #fff; padding-left: 15px; border-bottom: 1px solid #fff;}
.btnWrap3 { background: #4e5366; width: 100%; height: 70px; }
.btnWrap3 > label { width: 40px; height: 40px; display: block; background-image: url(img/close.png); float: right; margin-top: 15px; margin-right: 15px;}
#right_ck:checked ~ .right_menu { right: 0; opacity: 1;}
/*오른쪽 서브메뉴 끝*/
/*비주얼배너 시작*/
.bennar { width: 100%; height: auto; margin: 0 auto; }
.bennar > img { display: block; margin:0 auto;}
/*비주얼배너끝*/
/*콘텐츠 시작*/
.contents { width: 100%; height: 500px; margin: 0 auto; border-top: 1px solid #2e3340; padding-top: 20px;}
.contents > h2, p { text-align: center; line-height: 40px;}
.img_box {width: 350px; height: 150px; margin: 0 auto; float: l}
.img_box > .con1 {display: inline-block; width: 170px; height: 100%;}
.img_box > .con1 > img { display: block; width: 100%;}
.img_box > .con1 > ul > li { font-size: 0.8em; }
.img_box > .con1 > ul > li > span { font-weight: 700; color:#2e3340; }

.img_box > .con2 {display: inline-block; width: 170px; height: 200px;}
.img_box > .con2 > img { display: block; width: 100%;}
.img_box > .con2 > ul > li { font-size: 0.8em; }
.img_box > .con2 > ul > li > span { font-weight: 700; color:#2e3340; }
/*콘텐츠 끝*/
/*푸터시작*/
#ft { width: 100%; height: 50px; background:#666666; }
#ft > p { color: #fff; font-size: 0.8em; line-height: 45px;}
/*푸터끝*/
