@charset "utf-8";
.page_wrap_center > div {
    border: 0;
    padding: 10px;
}
.page_wrap_center {
    padding-top: 0;
}
.page_wrap_center li {
    display: inline-block;
    width: 164px;
    height: 290px;
    margin: 0 9px 30px 9px;
   
}
.page_wrap_center li > a {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px;
}
.page_wrap_center li > a img {
    display: block;
    width: 100%;
}
.page_wrap_center li h4 {
    padding: 5px;
    color: #444;
}
.page_wrap_center li p {
    font-size: 14px;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.page_wrap_center li div {
    padding: 15px 0px;
}
.page_wrap_center li div a {
    padding: 4px 12px;
    margin-left: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}
.page_wrap_center li div a:first-child {
    background: #5d6a7b;
}
.page_wrap_center li div a:last-child {
    background: #829c2c;
}
@media screen and (min-width:768px) {

}

@media screen and (min-width:1200px) {
    .page_wrap_center li {
        width: 168px;
        
    }
    .page_wrap_center {
        height: auto;
    }


}
