@charset "utf-8";
.page_wrap_center > div {
    border: 0;
    padding: 10px;
}
.page_wrap_center {
    padding-top: 0;
}
.art1 {
    text-align: left;
}

.page_wrap_center > div > div h3 {
    margin: 15px 15px 15px 0px;
    display: block;
    position: relative;
    padding-left: 35px;
    text-align: left;
    
}
.art_mid {
    color: #444;
    font-weight: 500;
}
.page_wrap_center > div > div h3::before {
    content: "";
    position: absolute;
    background: #454d5d;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    top: 5px;
    left: 0;
}
.page_wrap_center > div > div h3::after {
    content: "";
    position: absolute;
    background: #7887a5;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    top: 5px;
    left: 17px;
}
.page_wrap_center > div > div .art_mid {
    padding-left: 10px;
    color: #444;
    font-size: 16px;
    letter-spacing: -0.5px;
    text-align: left;
    display: block;
    position: relative;
    
}
.page_wrap_center > div > div .art_mid::before {
    content: "";
    width: 1px;
    height: 10px;
    background: #939393;
    position: absolute;
    left: 0;
    transform: rotate(45deg);
    top: 5px;

}
.art_box {
    border: 5px solid #dcdfe4;
    padding:5px 5px 10px 10px;
    font-size: 14px;
    margin: 25px auto;
    color: #444;
}
.art_box p {
   position: relative;
    display: inline-block;
    padding-left: 5px;
    line-height: 22px;
}
.art_box p::before {
    content: "";
    width: 4px;
    height:4px;
    border-radius: 100%;
    background: #939393;
    position: absolute;
    left: 0;
    top: 8px;
}
.tb_wrap {
    background: #f6f8fc;
    padding: 10px;
    letter-spacing: -0.5px;
}
.tb_wrap .art_mid{
    margin: 5px 5px 15px 5px;
}
.tb_wrap table {
    font-size: 12px;
    border-spacing: 0;
    font-weight: bold;
    width: 100%;
    margin: 10px 0px;;
}
.tb_wrap thead th {
    width: 33.3333%;
    background: #edeff3;
    padding: 5px;
     border-top: 2px solid #bbb;
     border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
.tb_wrap thead th:last-child {
    border-right: 0;
}
.tb_wrap tbody td {
    background: #fff;
    border-right: 1px solid #bbb;
    border-bottom: 2px solid #bbb;
}
.tb_wrap tbody td:last-child {
    border-right: 0;
}
.tb_wrap tbody li {
    display:block;
    width: 49%;
     padding: 10px 0px;
    text-align: center;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    float: left;
}
.tb_wrap tbody li:nth-of-type(1), .tb_wrap tbody li:nth-of-type(3){
    border-left: 0;
}
.tb_wrap tbody li:nth-of-type(3), .tb_wrap tbody li:nth-of-type(4) {
    border-bottom: 0;
}
.art_bt {
    padding:10px 5px 10px 15px;
    text-align: left;
    font-weight: 500;
    color: #444;
    display: inline-block;
    position: relative;
    
}
.art_bt::before{
    content: "";
    width: 4px;
    height:4px;
    border-radius: 100%;
    background: #939393;
    position: absolute;
    left: 5px;
    top: 15px;
}
.art2 h4 {
    padding: 5px 0px 5px 20px;
    text-align: left;
    position: relative;
    display: inline-block;
    background: url(https://azxc4862.github.io/Ministry_of_Education_sample_icon/tit4.png) no-repeat 0px 8px;
    
}
.art_ch_box {
    display: block;
    margin: 20px auto;
    font-weight: 500;
    
}
.art3 table {
    width: 100%;
    border-spacing: 0;
}
.art3 tr td:first-child {
    width: 25%;
    padding: 10px;
    background: #ebebeb;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    border-right: 1px solid #bfbfbf;
}
.art3 tr td {
    border-top: 1px solid #bfbfbf;
    padding: 10px;
}
.art3 tr:last-child td {
    border-bottom: 1px solid #bfbfbf
}
.art3 table input {
    border: 1px solid #ddd;
    padding: 5px;
    float: left;
}
.art3 tr:last-child input {
    width: 80px;
}
.art3 tr:last-child span {
    float: left;
    padding: 2px 20px;
    clear: both;
}
.art3 select {
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
    float: left;
}
.atr_selt_box {
    margin: 30px auto;
    font-size: 18px;
}
.atr_selt_box span {
    color: #666666;
    padding: 10px 20px 10px 40px;
    display: block;
    transition: 0.5s;
    border: 1px solid #ddd;
}
.atr_selt_box a {
    display: inline-block;
    transition: 0.5s;
    position: relative;
}
.atr_selt_box a:first-child::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(https://azxc4862.github.io/Ministry_of_Education_sample_icon/controls.png) -194px -142px / auto no-repeat;
    left: 19px;
    top: 15px;
}
.atr_selt_box a:last-child::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(https://azxc4862.github.io/Ministry_of_Education_sample_icon/controls.png) -159px -142px / auto no-repeat;
    left: 19px;
    top: 15px;
}
.atr_selt_box a:hover:first-child span {
    color: #fff;
    background: #465379;
    border: 1px solid #465379; 
  
}
.atr_selt_box a:hover:first-child::before {
    background: url(https://azxc4862.github.io/Ministry_of_Education_sample_icon/controls.png) -211px -142px / auto no-repeat;
}

.atr_selt_box a:hover:last-child span {
    color: #fff;
    background: #934b4b;
    border: 1px solid #934b4b; 
  
}
.atr_selt_box a:hover:last-child::before {
    background: url(https://azxc4862.github.io/Ministry_of_Education_sample_icon/controls.png) -175px -142px / auto no-repeat;
}
@media screen and (min-width:768px) {
    .art3 tr:last-child span {
        clear: none;
    }

}

@media screen and (min-width:1200px) {
    .page_wrap_center {
        height: auto;
    }


}
