@charset "utf-8";
.mo_check {
    border: 1px solid #ddd;
    letter-spacing: -0.5px;
    text-align: left;
    font-size: 12px;
    padding: 5px;
    background: #f6f8fc;
}
.mo_check p {
    padding: 10px 10px 10px 22px;
    display: inline-block;
    position: relative; 
    font-weight: bold;
}
.mo_check p::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 10px;
    background: url(https://azxc4862.github.io/Ministry_of_Education_sample_main/check_icon.gif) 0px 0px / auto no-repeat;
    left: 5px;
    top: 12px
}
@media screen and (min-width:1200px) {
    .page_wrap_center > div {
        height: auto;
    }
    .mo_check p {
        display: block;
    }


}
