@charset "utf-8";
.dc_wrap {
    background: #fff;
}
.d_center {
    padding-top: 0;
    padding-bottom: 0;
}
.page_wrap_top {
    border-bottom: 3px solid #dbdbdb;
}
.page_wrap_top_wrap {
    padding: 10px;
}
.page_list {
    width: 100%;
    height: 50px;
}
.page_list > div:first-child {
    position: relative;
    border: 1px solid #dcdcdc;
    background: #ecececec;
    transition: 0.5s;
}
.page_list #list {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    vertical-align: middle;
    background: #ececec;
    color: #464646;
    visibility: hidden;
    position: relative;
    
}
.select_ti {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    
}
.select_ti > a {
    color: #464646;
    display: block;
    padding: 15px 20px;
    position: relative;
    font-size: 16px;
}
.select_ti .ls_op {
    display: block;
}
.select_ti .ls_close {
    display: none;
}
.select_ti > .ls_op::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 13px;
    background: url(../img/icon/controls_M.png) -303px 0px / auto no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    
}
.select_ti > .ls_close::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 13px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/icon/controls_M.png) -269px -1px / auto no-repeat;
}
.selet_op {
    display: none;
    width: 99.9%;
    position: absolute;
    left: 0;
    top: 100%;
    border: 1px solid #dcdcdc;
    background: #fff;
    z-index: 11;
    
}
.selet_op > a {
    color: #464646;
    border-bottom: 1px solid #dcdcdc;
    display: block;
    padding: 11px 10px;
    font-size: 14px;
    transition: 0.5s;

    background: #fff;
}
.selet_op > a:last-child {
    border-bottom: 0;
}
.page_map {
    width: auto;
    margin: 0 auto;
    padding-top: 15px;
    display: table;
   
    
}
.page_map > div:first-child {
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
}
.page_map span {
    display: inline-block;
    vertical-align: middle;
    color: #7a7a7a;
    position: relative;
    text-indent: 10px;
    font-size: 13px;
}
.page_map span::before {
    content: "";
    width: 6px;
    height: 10px;
    position: absolute;
    background: url(../img/icon/controls.png) -21px -255px / auto no-repeat;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    
}
.page_map .home {
    width: 16px;
    height: 20px;
    background: url(../img/icon/controls.png) 0px -252px / auto no-repeat;
}
.page_map .home::before {
    display: none;
}
.title_sub1-2 h1 {
    color: #26334f;
    padding-top: 5px;
    text-align: center;
}
.title_sub1-2 ul {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    height: 70px;
}
.title_sub1-2 ul > li{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #ededed;
    transition: 0.5s;
}
.title_sub1-2 ul > li > a {
    width: 16px;
    transition: 0.5s;
    height: 14px;
    margin: 13px auto;
    display: block;
}
.title_sub1-2 ul > li:first-child  a {
    background: url(../img/icon/controls.png) -32px -254px / auto no-repeat;
}
.title_sub1-2 ul > li:last-child  a {
    background: url(../img/icon/controls.png) -51px -254px / auto no-repeat;
}

.title_sub1-2 ul > li:hover{
    background:#8ab839;
}
.title_sub1-2 ul > li:hover:first-child  a {
    background: url(../img/icon/controls.png) -69px -253px / auto no-repeat; 
}

.title_sub1-2 ul > li:hover:last-child  a {
    background: url(../img/icon/controls.png) -87px -253px / auto no-repeat; 
}
.page_wrap_center {
    border-bottom: 3px solid #dbdbdb;
    padding: 35px 5px;
    text-align: center;
    color: #666;
    font-size: 15px;
    font-weight: 500;
}
.page_wrap_center > div {
    padding: 30px;
    border: 1px solid #ddd;
}
.link_page_wrap {
    display: table;
    width: auto;
    margin: 0 auto;
    background:#934b61; 
    padding: 10px 20px;
}
.link_page_wrap a {
    color: #fff;
    vertical-align: middle;
    font-size: 16px;
    
}
.check_list {
    border-bottom: 3px solid #dbdbdb;
    padding: 35px 5px;
    text-align: center;
    color: #666;
    font-size: 15px;
    font-weight: 500;
}
.check_list > div {
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.check_list h2 {
    font-size: 16px;
    color: #464646;
    padding-bottom: 10px;
   
}
.ch_ls {
    display: block;
    width: 100%;
    padding-bottom: 10px; 


}
.check_list > div > p {
    font-size: 14px;
    color: #464646;
}
.check_wrap {
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.ip {
    position: absolute;
    left: -4000px;
}
.ch_op {
    margin: 5px;
    width: auto;
    display: inline-block;

}
.ch_op > label {
    width: 100%;
}
.ch_op .hole {
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    vertical-align: middle;
    border-radius:100px;
    border: 1px solid #bababa;
    
}
.ch_op .com {
    vertical-align: middle;
    font-size: 16px;
}
.ch_op .icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px 2px 2px 8px;
    vertical-align: top;
}
.inp1 .icon {
    background: url(../img/icon/controls.png) -91px -229px / auto no-repeat;
}
.inp2 .icon {
    background: url(../img/icon/controls.png) -112px -229px / auto no-repeat;
}
.inp3 .icon {
    background: url(../img/icon/controls.png) -133px -229px / auto no-repeat;
}
.inp4 .icon {
    background: url(../img/icon/controls.png) -153px -229px / auto no-repeat;
}
.inp5 .icon {
    background: url(../img/icon/controls.png) -174px -229px / auto no-repeat;
}
.ch_op .hole::after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #465379;
    content: "";
    border-radius: 100px;
    opacity: 0;
    top: 5px;
    left: 5px;
}

.ip:checked ~ label .hole::after {
    opacity: 1;
}

.coment_wrap {
    font-size: 14px;
    color: #444;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    padding: 10px;
    
}
.coment_wrap li:first-child {
    text-align: left;
    font-size: 14px;
    padding: 10px 0px;
    
}
.coment_wrap li:nth-of-type(2) input {
    display: block;
    width: 100%;
    margin: 6px 0 10px 0;
    height: 35px;
    border: 1px solid rgb(138,184,57);
}
.coment_wrap li:last-child {
    width: 100%;
    background: #465379;
    transition: 0.5s;
}
.coment_wrap li:hover:last-child {
    background: rgb(138,184,57);
    
}
.coment_wrap li:last-child > a {
    padding: 10px;
    display: block;
    color: #fff;
    font-size: 18px;
    
    
}
.page_list {
    display: none;
}
.d_center {
    background: none;
}
.com_desk {
    display: none;
}

@media screen and (min-width:1200px) {
    .allpage_wrap {
        width: 85%;
        margin: 0 auto;
        height: 100%;
    }
    .com_desk {
        display: block;
        height: 100%;
    }
    .page_wrap_center {
        display: block;
        border-bottom: 0;
    }
    .page_wrap_center > div {
        height: 100%;
        border: 0;
    }
    .page_list {
        display:block;
        width: 16.3333%;
        float: left;
        
    }
    .page_list > div:first-child {
        background: #f8f8f8f8;
    }
    .page_map {
        clear: both;
        padding: 40px 0px;
    }
    .title_sub1-2 ul {
        padding-top: 30px;
    }
    .page_wrap_center {
        width: 100%;
        height: 650px;
        display: table;
    }
    iframe {
        margin: 0 auto;
    }
    .check_list {
        padding: 0;
        border-bottom: 0;
    }
    .check_wrap {
        width: 40%;
        display: inline-block;
        border: 0;
       
    }
    .ch_left {
        display: inline-block;
        width: 40%;

    }
    .coment_wrap li:first-child {
        display: inline-block;
        float: left;
        padding: 6px;
        width: 20%;
    }
    .coment_wrap li:nth-of-type(2) input {
        margin: 0px 5px 0px 0px;
    }
    .coment_wrap li:nth-of-type(2) {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .coment_wrap li:last-child {
        width: 20%;
        display: inline-block;
    }
    .coment_wrap li:last-child > a {
        padding: 6px;
    }
    .dc_wrap {
        padding: 5% 1% 0 1%;
    }
    .page_list > div:first-child {
        border: 1px solid #fff;
    }
    .page_list > div:hover:first-child {
        background: #ededed;
    }
    .selet_op > a:hover {
        background: #ededed;
    }
}
